<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    
     <style>
        .logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>

    <title>Movie List</title>
</head>
<body>
    <h1>Movie List</h1>
    <form th:action="@{/logout}" method="post" class="logout-button">
        <div><input type="submit" value="Logout" class="btn btn-danger" /></div>
    </form>
    <a th:href="@{/add}" class="btn btn-success">Add Movie</a><br>
    <table border="1" class="table table-striped">
	
        <thead>
            <tr>
				
                <th>Name</th>
                <th>Director</th>
                <th>Publication Year</th>
                <th>Length</th>
                <th>Rating</th>
                <th>Category</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.name}"></td>
                <td th:text="${movie.director}"></td>
                <td th:text="${movie.pubyear}"></td>
                <td th:text="${movie.length} + 'min'"></td>
                <td th:text="${movie.rating} + '/100'"></td>
                <td><span th:if="${movie.category != null}" th:text="${movie.category.name}"></span></td>

                <td>
                    <a th:href="@{/delete/{id}(id=${movie.id})}" class="btn btn-danger">Delete</a>
                    <a th:href="@{/edit/{id}(id=${movie.id})}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

    
</body>
</html>
